.footer {
	.container{
		padding: 0 15px;
		
	}
	&__box{
		background-color: #ffcdcd;
	}
	&__text {
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 40px;
		color: rgb(179, 17, 17);
		font-weight: 900;
		font-family: "Licorice";	
	}
}

